In [ ]:
| Probabilidad | Rendimiento A | Rendimiento B | Rendimiento C |
| ---------------- | ------------------ | ------------------- | ------------------  |
| 30%              | -0.20               | -0.05                 | 0.05                 |
| 40%              | 0.05                | 0.10                  | 0.03                  |
| 30%              | 0.40                | 0.15                  | 0.02                  |

In [1]:
import pandas as pd
import numpy as np

In [3]:
tabla = pd.DataFrame(columns=['A', 'B', 'C'], index = np.array([0.3, 0.4, 0.3]))
tabla.index.name = 'Prob'
tabla['A'] = np.array([-0.2, 0.05, 0.4])
tabla['B'] = np.array([-0.05, 0.1, 0.15])
tabla['C'] = np.array([0.05, 0.03, 0.02])

tabla.round(2)

         A     B     C
Prob
0.3  -0.20 -0.05  0.05
0.4   0.05  0.10  0.03
0.3   0.40  0.15  0.02

In [4]:
ErA = np.sum(tabla.index*tabla.A)
ErB = np.sum(tabla.index*tabla.B)
ErC = np.sum(tabla.index*tabla.C)

ErA, ErB, ErC

(0.08, 0.07, 0.033)

In [5]:
0.4*ErA+0.4*ErB+0.2*ErC

0.0666

In [6]:
(ErA+ErB+ErC)/3

0.061000000000000006

In [7]:
0.5*20+0.25*15+0.25*17

18.0

In [8]:
0.4*20+0.2*15+0.4*17

17.8

In [9]:
tabla.round(2)

         A     B     C
Prob
0.3  -0.20 -0.05  0.05
0.4   0.05  0.10  0.03
0.3   0.40  0.15  0.02

In [10]:
covAB = np.sum(tabla.index*(tabla.A-ErA)*(tabla.B-ErB))
covAC = np.sum(tabla.index*(tabla.A-ErA)*(tabla.C-ErC))
covBC = np.sum(tabla.index*(tabla.C-ErC)*(tabla.B-ErB))

covAB, covAC, covBC

(0.017400000000000002, -0.0026400000000000004, -0.0009600000000000001)

In [11]:
stdA = np.sqrt(np.sum(tabla.index*(tabla.A-ErA)**2))
stdB = np.sqrt(np.sum(tabla.index*(tabla.B-ErB)**2))
stdC = np.sqrt(np.sum(tabla.index*(tabla.C-ErC)**2))

stdA, stdB, stdC

(0.23366642891095846, 0.08124038404635961, 0.011874342087037918)

In [12]:
corrAB = covAB/(stdA*stdB)
corrAC = covAC/(stdA*stdC)
corrBC = covBC/(stdB*stdC)

corrAB, corrAC, corrBC

(0.9166023347994703, -0.9514764623988068, -0.9951526617137966)

In [13]:
(ErA+ErC)/2

0.0565

In [14]:
(0.5*stdA)**2+(0.5*stdC)**2+2*0.5*0.5*covAC

0.012365250000000001

In [15]:
np.sqrt((0.5*stdA)**2+(0.5*stdC)**2+2*0.5*0.5*covAC)

0.11119914568017149